<style>
    table {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }
    .back-link {
            margin-top: 20px;
            text-align: center;
        }

</style>

<table>
    <h1>Students</h1>
    <a href="/students/add">Add Student</a>
    <div class="back-link"></div>
    <a href="/">Back to Home</a>
    </div>

    <tr>
        <th> ID</th>
        <th> Name</th>
        <th> Age</th>
        <th> Action</th>
    </tr>
    <% theStudents.forEach((student)=>
        { %>
        <tr>
            <td>
                <%= student.sid %>
            </td>
            <td>
                <%= student.name %>
            </td>
            <td>
                <%= student.age %>
            </td>
            <td><a href="/students/edit/<%= student.sid %>">Update</a></td>
        </tr>
        <% }) %>
</table>